<%- include('./partials/header'); -%>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="/hotel/<%=hotelName%>/bookings">
                    <div class="cardPanel">
                        <div class="card_image"> <img src="/imgs/booking.png" /> </div>
                        <div class="card_title title-white">
                            <p>Bookings</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="/hotel/<%=hotelName%>/rooms">
                    <div class="cardPanel">
                        <div class="card_image">
                            <img src="/imgs/room.png" />
                        </div>
                        <div class="card_title title-white">
                            <p>Rooms</p>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-3">
                <a href="/hotel/<%=hotelName%>/staffs">
                    <div class="cardPanel">
                        <div class="card_image">
                            <img src="/imgs/staff.png" />
                        </div>
                        <div class="card_title title-white">
                            <p>Staffs</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/hotel/<%=hotelName%>/restaurants">
                    <div class="cardPanel">
                        <div class="card_image">
                            <img src="/imgs/restaurant.png" />
                        </div>
                        <div class="card_title title-white ">
                            <p>Restaurants</p>
                        </div>
                    </div>
            </div>
            </a>
        </div>
        <div class="row ml-5">
            <div class="col-1"></div>
            <div class="col-3">
                <a href="<%=hotelName%>/customers">
                    <div class="cardPanel">
                        <div class="card_image"> <img src="/imgs/customer.png" /> </div>
                        <div class="card_title title-white">
                            <p>Customers</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="/hotel/<%=hotelName%>/jobAssignments">
                    <div class="cardPanel">
                        <div class="card_image">
                            <img src="/imgs/jobAssignment.png" />
                        </div>
                        <div class="card_title title-white">
                            <p>Job Assignments</p>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-3">
                <a href="/hotel/<%=hotelName%>/bills">
                    <div class="cardPanel">
                        <div class="card_image">
                            <img src="/imgs/bill.png" />
                        </div>
                        <div class="card_title title-white">
                            <p>Bills</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>



    </div>

    <%- include('./partials/footer'); -%>